:root {
    --body-background-color: #FFF2D8;
    --light-square-color: #FFFFFF;
    --dark-square-color: #739072;
    --line-gap: 0px;
    --cell-size-desktop: 8vh;
    --cell-size-mobile: 8vw;
    --vertical-offset-desktop: 20px;
    --vertical-offset-mobile: 20px;
    --horizontal-offset-desktop: 10px;
    --horizontal-offset-mobile: 10px;
}


/* General styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Lato", "Helvetica", "sans-serif";
    background-color: var(--body-background-color);
}

button {
	border: none;
	cursor: pointer;
}

/* Navigation */
#navbar {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

/* Alert-Box */
#alert-box {
    max-width: min(450px, 70%);
}

#alert-box > p {
    font-size: 1.5rem;
}

@media (max-width: 600px) and (orientation: portrait) {
    font-size: 1rem;
}

/* Schachbrett */
#chessboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.line {
    padding: 0;
    height: var(--cell-size-desktop);
    margin-bottom: var(--line-gap);
}

.square {
    padding: 0;
    margin: -2px;
    width: var(--cell-size-desktop);
    height: var(--cell-size-desktop);
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

.chess-piece-image {
    width: 80%;
    height: auto;
}

/* Schachbrett auf mobilen Geräten */
@media (max-width: 600px) and (orientation: portrait) {
    .line {
        height: var(--cell-size-mobile);
    }

    .square {
        width: var(--cell-size-mobile);
        height: var(--cell-size-mobile);
    }

    .chess-piece-image {
        width: 50%;
        height: auto;
        padding-bottom: 5px;
    }
}

/* Schachbrettmuster */
.line:nth-child(even) > .square:nth-child(even) {
    background-color: var(--light-square-color);
    color: var(--dark-square-color);
}
.line:nth-child(even) > .square:nth-child(odd) {
    background-color: var(--dark-square-color);
    color: var(--light-square-color);
}
.line:nth-child(odd) > .square:nth-child(even) {
    background-color: var(--dark-square-color);
    color: var(--light-square-color);
}
.line:nth-child(odd) > .square:nth-child(odd) {
    background-color: var(--light-square-color);
    color: var(--dark-square-color);
}

/* Beschriftung der horizontalen Achse */
#xlabel {
    text-align: center;
    margin-left: var(--vertical-offset-desktop);
    margin-bottom: var(--horizontal-offset-desktop);
}
#xlabel > * {
    display: inline-block;
    width: calc(var(--cell-size-desktop) - 5px);
}
#xlabel > *:last-of-type {
    margin-right: 0;
    padding-right: 0;
}

@media (max-width: 600px) and (orientation: portrait) {
    #xlabel {
        margin-left: var(--vertical-offset-mobile);
        margin-bottom: var(--horizontal-offset-mobile);
    }
    #xlabel > * {
        width: calc(var(--cell-size-mobile) - 5px);
    }
}

/* Beschriftung der vertikalen Achse */
#ylabel {
    text-align: center;
    margin-top: 0px;
    margin-right: var(--vertical-offset-desktop);
}
#ylabel > * {
    display: block;
    height: calc(calc(var(--cell-size-desktop)) + var(--line-gap));
    line-height: 70px;
}

@media (max-width: 600px) and (orientation: portrait) {
    #ylabel {
        margin-right: var(--vertical-offset-mobile);
    }
    #ylabel > * {
        height: calc(calc(var(--cell-size-mobile)) + var(--line-gap));
        line-height: 35px;
    }
}
