@(playerTurn: String, chessBoardFields: Array[Array[String]])
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/chess.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.less")">

@main("Play Chess") {
<pre id="spielermeldung">Spieler 1 ist an der Reihe...</pre>

<div id="xlabel">
    <div>A</div>
    <div>B</div>
    <div>C</div>
    <div>D</div>
    <div>E</div>
    <div>F</div>
    <div>G</div>
    <div>H</div>
</div>

<div id="chessboard-wrapper">
    <div id="ylabel">
        <div>8</div>
        <div>7</div>
        <div>6</div>
        <div>5</div>
        <div>4</div>
        <div>3</div>
        <div>2</div>
        <div>1</div>
    </div>
    <div id="chessboard">
        @for(line <- chessBoardFields) {
        <div class="line">
            @for(square <- line) {
            <button class="square">@square</button>
            }
            <br>
        </div>
        }
    </div>
</div>
}