@main("Welcome to Chess") {
<div class="container mt-5">

<h1 class="text-center">Welcome to Chess!</h1>
<h2 class="mt-5">Quick Links</h2>
<ul class="list-group mt-3">
    <li class="list-group-item">
        <a href="/rules">Read the basic chess rules</a>
    </li>
    <li class="list-group-item">
        <a href="/chess">Start a new chess game</a>
    </li>
    <li class="list-group-item">
        <a href="https://github.com/julienco03/Chess_WebApp" target="_blank">Visit our GitHub repository</a>
    </li>
</ul>

</div>
}
